.image-block {
  padding: 0;

  .image-block-copy {
    padding: 80px 0;
    min-height: 400px;
  }

  .image {
    position: absolute; 
    top: 0; 
    height: 100%; 
  }

  .image-right {
    right: 0;
  }

  .image-left {
    left: 0;
  }

  &.image-block-bottom {
    .image {
      bottom: 0;
      top: 80px;
    }
  }
}

@media(max-width: $screen-xs-max) {
  .image-block {

    .image-block-copy {
      padding: 40px 0;
      min-height: 300px;
    }

    .image {
      position: relative;
      height: 300px;
      width: 100%;
    }

    &.image-block-bottom {
      .image {
        top: 0;
      }
    }
  }
}