- id = Time.now.to_f
%li{ class: "#{active_class(href, options)} dropdown" }
  %a.dropdown-toggle{:id => id, :href=>href, :data => {:target => '#', :toggle => 'dropdown'}}
    = text
    %b.caret
  %ul.dropdown-menu{:role => 'menu', :aria => {:labelledby => id}}
    = block