.navbar-fixed-left {
  padding-top: $navbar-height;

  .navbar-fixed-top {
    overflow-y: auto;
  }

  header {
    height: $header-height;
    padding: 10px 0;
    border-bottom: 1px solid $header-border-color;
    background: $header-bg;
    z-index: 99;

    h1 {
      font-size: 24px;
      text-align: left;
      margin: 0;
      padding: 0;
      line-height: 32px;
      height: 32px;
      font-weight: 300;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &.header-fixed-top {
    padding-top: $navbar-height + $header-height;

    header {
      position: fixed;
      top: $navbar-height;
      left: 0;
      right: 0;
    }
  }

  &.navbar-offcanvas-left.offcanvas-show {
    .navbar-fixed-top {
      left: 0;
      z-index: zindex-modal;

      .navbar-header, .navbar-nav {
        margin-left: 0;
        margin-right: 0;
      }
    }

    #overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $modal-backdrop-bg;
      @include opacity($modal-backdrop-opacity);
      z-index: $zindex-navbar;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }

  &.navbar-offcanvas-left {
    padding-top: 0;

      .navbar-fixed-top {
        top: 0;
        left: -$navbar-fixed-left-width;
        bottom: 0;
        width: $navbar-fixed-left-width !important;
        margin: 0;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

        .container-fluid {
          padding: 0;
        }

        .container {
          width: 100%;
          padding: 0;
        }

        .navbar-header {
          padding: 0 15px;

          .navbar-brand {
            padding-left: 0;
            display: block;
            float: none;
          }
        }

        .navbar-header, .navbar-nav, .navbar-right, .navbar-nav li {
          float: none !important;
        }

        .navbar-nav, .navbar-right {
          .dropdown-menu {
            left: 0;
            right: auto;
          }
        }
        .navbar-nav {
          li {
            a {
              padding: 10px 15px;
            }
          }

          &.navbar-right:last-child {
            margin-right: 0px;
          }

          .open {
            .dropdown-menu {
              position: static;
              float: none;
              width: auto;
              margin-top: 0;
              background-color: transparent;
              border: 0;
              box-shadow: none;
            }
          }
        }

        &.navbar-inverse {
          .navbar-nav {
            li {
              a {
                font-weight: 400;
                font-size: 14px;
              }
            }

            .open {
              .dropdown-menu {
                .divider {
                  background-color: $navbar-inverse-border;
                }

                li {
                  a {
                    color: $navbar-inverse-link-color;

                    &:hover, &:focus {
                      color: $navbar-inverse-link-hover-color;
                      background: $navbar-inverse-link-hover-bg;
                    }
                  }
                }
              }
            }
          }
        }
    }

    &.header-fixed-top {
      padding-top: $header-height;

      header {
        top: 0;
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-fixed-left {
    margin-left: $navbar-fixed-left-width;
    padding-top: 0;

    &.header-fixed-top {
      padding-top: $header-height;

      header {
        top: 0;
        left: $navbar-fixed-left-width;
      }
    }
  }
}

.navbar-fixed-top {
  .navbar-header {
    .avatar {
      width: 30px;
      height: 30px;
      @include border-top-radius(50%); 
      @include border-bottom-radius(50%);
      margin-top: -4px; 
      margin-right: 5px;
    }
  }
  .navbar-nav {
    li {
      a {
        i {
          width: 26px;
          font-size: 17px;
        }
      }
    }
  }
  .navbar-nav > li > .dropdown-menu {
    li {
      a {
        padding: 10px 15px;
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-fixed-left {
    #overlay {
      display: none;
      @include opacity(0);
    }

    &.navbar-offcanvas-left .navbar-brand {
      margin-left: 0;
    }
    .navbar-fixed-top, .navbar-fixed-top.navbar-offcanvas-left {
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      width: $navbar-fixed-left-width !important;
      margin: 0;

      .container-fluid {
        padding: 0;
      }

      .container {
        width: 100%;
        padding: 0;
      }

      .navbar-header {
        padding: 0 15px;

        .navbar-brand {
          padding-left: 0;
          display: block;
          float: none;
        }
      }

      .navbar-header, .navbar-nav, .navbar-right, .navbar-nav li {
        float: none !important;
      }

      .navbar-nav, .navbar-right {
        .dropdown-menu {
          left: 0;
          right: auto;
        }
      }
      .navbar-nav {
        li {
          a {
            padding: 10px 15px;
          }
        }

        &.navbar-right:last-child {
          margin-right: 0px;
        }

        .open {
          .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
          }
        }
      }

      &.navbar-inverse {
        .navbar-nav {
          li {
            a {
              font-weight: 400;
              font-size: 14px;
            }
          }

          .open {
            .dropdown-menu {
              .divider {
                background-color: $navbar-inverse-border;
              }

              li {
                a {
                  color: $navbar-inverse-link-color;

                  &:hover, &:focus {
                    color: $navbar-inverse-link-hover-color;
                    background: $navbar-inverse-link-hover-bg;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.leather-three-column {
  #main {
    position: absolute;
    margin-left: $navbar-fixed-left-width;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
  }

  #left {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    background: $gray-lighter;
  }

  #right {
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    bottom: 0;
    background: #FFF;
  }

  @media (max-width: $screen-xs-max) {
    #main {
      margin: 0;
    }

    #right {
      display: none;

      &.in {
        left: 0;
        display: block;
      }
    }

    #left {
      width: 100%;
    }
  }


  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #main {
      margin: 0;
    }

    .navbar-fixed-top {
      left: -$navbar-fixed-left-width !important;
    }
    
    &.offcanvas-show {
      .navbar-fixed-top {
        left: 0 !important;
      }

      #overlay {
        display: block;
      }
    }
  }

}