@mixin offcanvas {
  @include transition(all 0.3s);
  z-index: $zindex-modal;

  ~ #overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: $modal-backdrop-bg;
    z-index: $zindex-modal - 1;
    @include opacity(0);
    @include transition(all 0.5s);
  }

  &.in {
    ~ #overlay {
      display: block;
      @include opacity($modal-backdrop-opacity);
    }
  }
}

@mixin offcanvas-left {
  left: -100% !important;
  right: auto !important;

  ~ #main {
    left: 0 !important;
    right: 0 !important;
  }

  &.in {
    left: 0 !important;
  }
}

@mixin offcanvas-right {
  right: -100% !important;
  left: auto !important;

  ~ #main {
    left: 0 !important;
    right: 0 !important;
  }

  &.in {
    right: 0 !important;
  }
}

.offcanvas-left {
  @include offcanvas;
  @include offcanvas-left;
}

@media (max-width: $screen-xs-max) {
  .offcanvas-left-xs {
    @include offcanvas;
    @include offcanvas-left;
  }
}
@media (max-width: $screen-sm-max) {
  .offcanvas-left-sm {
    @include offcanvas;
    @include offcanvas-left;
  }
}
@media (max-width: $screen-md-max) {
  .offcanvas-left-md {
    @include offcanvas;
    @include offcanvas-left;
  }
}
.offcanvas-left-lg {
  @include offcanvas;
  @include offcanvas-left;
}

.offcanvas-right {
  @include offcanvas;
  @include offcanvas-right;
}

@media (max-width: $screen-xs-max) {
  .offcanvas-right-xs {
    @include offcanvas;
    @include offcanvas-right;
  }
}
@media (max-width: $screen-sm-max) {
  .offcanvas-right-sm {
    @include offcanvas;
    @include offcanvas-right;
  }
}
@media (max-width: $screen-md-max) {
  .offcanvas-right-md {
    @include offcanvas;
    @include offcanvas-right;
  }
}
.offcanvas-right-lg {
  @include offcanvas;
  @include offcanvas-right;
}