$white:                    #ffffff !default;

$devise-bg-gradient-start: #355069 !default;
$devise-bg-gradient-end:   #5E7A9B !default;
$devise-box-border-color:  #6ED5E4 !default;

$off-canvas-width:         300px   !default;
$off-canvas-bg-color:      #f1f1f1 !default;
$off-canvas-color:         #333333 !default;