$white:                    #FFFFFF;

$devise-bg-gradient-start: #355069;
$devise-bg-gradient-end:   #5E7A9B;
$devise-box-border-color:  #6ED5E4;

$off-canvas-width: 300px;
$off-canvas-bg-color: #f1f1f1;
$off-canvas-color: #333;