$devise-bg-gradient-start:        #355069 !default;
$devise-bg-gradient-end:          #5E7A9B !default;
$devise-box-border-color:         #6ED5E4 !default;

$navbar-fixed-width:              350px;
$navbar-fixed-collapsed-width:    75px;
$scroll-panel-header-height:      $navbar-height;
$header-bg:                       $navbar-default-bg;
$header-border-color:             $navbar-default-bg;