%table{class: "table #{table_class}"}
  %thead
    %tr
      %th #
      %th First Name
      %th Last Name
      %th Username
  %tbody
    %tr
      %td 1
      %td Mark
      %td Otto
      %td @mdo
    %tr
      %td 2
      %td Jacob
      %td Thornton
      %td @fat
    %tr
      %td 3
      %td Larry
      %td the Bird
      %td @twitter