.off-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: $off-canvas-width;
  background: $off-canvas-bg-color;
  color: $off-canvas-color;
  &.off-canvas-right {
    right: -$off-canvas-width;
  }
  &.off-canvas-left {
    left: -$off-canvas-width;
  }

  .brand {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;

    .close {
      position: relative;
      top: -3px;
    }
  }
}

.off-canvas, .fixed, #off-canvas-wrapper {
  transition: all .2s ease;
}

.fixed, #off-canvas-wrapper {
  transform: translate3d(0,0,0);
}
  
.off-canvas-show-right {
  overflow: hidden;
  .off-canvas-right {
    right: 0px;
  }
  .fixed, #off-canvas-wrapper {
    transform: translate3d(-$off-canvas-width, 0, 0);
  }
}

.off-canvas-show-left {
  overflow: hidden;
  .off-canvas-left {
    left: 0px;
  }
  .fixed, #off-canvas-wrapper {
    transform: translate3d($off-canvas-width, 0, 0);
  }
}