.off-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: $off-canvas-width;
  background: $off-canvas-bg-color;
  color: $off-canvas-color;
  &.off-canvas-right {
    right: -$off-canvas-width;
    border-left: 1px solid $off-canvas-border;
  }
  &.off-canvas-left {
    left: -$off-canvas-width;
    border-right: 1px solid $off-canvas-border;
  }
  &.off-canvas-inverse {
    background: $off-canvas-inverse-bg;
    color: $off-canvas-inverse-color;
    &.off-canvas-right {
      border-color: $off-canvas-inverse-border;
    }
    &.off-canvas-left {
      border-color: $off-canvas-inverse-border;
    }

    .brand {
      color: $off-canvas-inverse-brand-color;
    }

    .close {
      color: $off-canvas-inverse-brand-color;
      opacity: 0.8;
    }
  }

  .brand {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    color: $navbar-default-brand-color;

    .close {
      position: relative;
      top: -3px;
    }
  }
}

.off-canvas, .fixed, #off-canvas-wrapper {
  transition: all .2s ease;
}

.fixed, #off-canvas-wrapper {
  transform: translate3d(0,0,0);
}
  
.off-canvas-show-right {
  overflow: hidden;
  .off-canvas-right {
    right: 0px;
  }
  .fixed, #off-canvas-wrapper {
    transform: translate3d(-$off-canvas-width, 0, 0);
  }
}

.off-canvas-show-left {
  overflow: hidden;
  .off-canvas-left {
    left: 0px;
  }
  .fixed, #off-canvas-wrapper {
    transform: translate3d($off-canvas-width, 0, 0);
  }
}