@import 'bootstrap';

html, body {
  height: 100%;
}

.devise_sessions, .devise_registrations, .devise_passwords {
  &.new, &.create {
    @include gradient-vertical(#355069, #5E7A9B);
  }
}
.devise_passwords.edit {
  @include gradient-vertical(#355069, #5E7A9B);
}

.text-white { color: #fff; }

.devise-welcome {
  @extend .text-center;
  @extend .text-white;
  text-shadow: 1px 1px 3px #333;
  padding: 50px 0 20px 0;
  h2 {
    margin-bottom: 50px;
  }
  h2, h3 {
    font-weight: normal;
  }
}

.devise-box {
  @include border-top-radius($border-radius-base);
  @include border-bottom-radius($border-radius-base);
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 1px 1px 3px #333;
  padding: 40px 40px 20px;
  border-top: 6px solid #6ED5E4;
  #error_explanation {
    @extend .alert;
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
    h2 {
      margin-top: 0;
      font-size: 15px;
    }
  }
  .actions {
    padding-top: 30px;
  }
}

.devise-links {
  @extend .text-center;
  @extend .text-white;
  margin-top: 20px;
  a {
    text-decoration: underline;
    color: #fff;
  }
}