// Remove the rounded corners by uncommenting this line:
// $border-radius-base: 0px;

@import 'bootstrap';

$white: #fff;
$devise-bg-gradient-start: #355069;
$devise-bg-gradient-end:   #5E7A9B;
$devise-box-border-color:  #6ED5E4;

html, body {
  height: 100%;
}

.devise-gradient-bg {
  @include gradient-vertical($devise-bg-gradient-start, $devise-bg-gradient-end);
  background-attachment: fixed !important;
}

.devise_sessions, .devise_registrations, .devise_passwords {
  &.new, &.create {
    @extend .devise-gradient-bg;
  }
}
.devise_passwords.edit {
  @extend .devise-gradient-bg;
}

.text-white { color: $white; }

.devise-welcome {
  @extend .text-center;
  @extend .text-white;
  text-shadow: 1px 1px 3px $gray-dark;
  padding: 50px 0 20px 0;
  h2 {
    margin-bottom: 50px;
    a {
      color: $white;
      text-decoration: none;
      @include transition(color 0.25s linear);
      &:hover {
        color: darken($white, 20%);
      }
    }
  }
  h2, h3 {
    font-weight: lighter;
  }
}

.devise-box {
  @include border-top-radius($border-radius-base);
  @include border-bottom-radius($border-radius-base);
  border: 1px solid $white;
  background: $white;
  box-shadow: 1px 1px 3px $gray-dark;
  padding: 40px 40px 20px;
  border-top: 6px solid $devise-box-border-color;
  #error_explanation {
    @extend .alert;
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
    h2 {
      margin-top: 0;
      font-size: 15px;
    }
  }
  .actions {
    @extend .text-center;
    padding-top: 30px;
  }
}

.devise-links {
  @extend .text-center;
  @extend .text-white;
  margin-top: 20px;
  a {
    text-decoration: underline;
    color: $white;
  }
}