body, html {
  overflow-x: hidden;
}
#overlay {
  display: none;
}
#sidebar {
  background-color: #2b2f3e;
  width: 230px;
  position: fixed;
  padding: 25px 0px;
  box-shadow: inset -5px 0px 8px rgba(0,0,0,0.3);
  height: 100%;
  top: 0px;
  left: 0px;
  color: #fff;
}

#sidebar.collapsed {
  overflow: visible !important;
  position: absolute;
  bottom: 0px;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
  background: #f1f1f1;
  height: 50px;
  padding: 6px 0;
}
#sidebar.collapsed + #content #header {
  left: 75px;
}
#wrapper {
  padding-top: 50px;
}

#content {
  margin-left: 230px;
  min-height: 100%;
}

@media (max-width: $screen-xs-max) {
  #sidebar {
    left: 100%;
  }
  #sidebar.collapsed {
    width: 250px;
    left: 0px;
    overflow: hidden !important;
  }

  #sidebar.collapsed + #content #overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
  }
  
  #header, #sidebar.collapsed + #content #header {
    left: 0;
  }

  #sidebar.collapsed + #content {
    margin-left: 0px;
    transform: translate3d(250px, 0px, 0px);
    -ms-transform: translate3d(250px, 0px, 0px);
    -webkit-transform: translate3d(250px, 0px, 0px);
    -moz-transition: translate3d(250px, 0px, 0px);
    -o-transition: translate3d(250px, 0px, 0px);
  }
  #content {
    margin-left: 0;
  }
}

@media (min-width: $screen-sm-min) {
  #sidebar.collapsed {
    width: 75px;
    text-align: center;
  }
  #sidebar.collapsed + #content {
    margin-left: 75px;
  }
}