body, html {
  overflow-x: hidden;
}

.leather-three-column-layout {
  #main {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    width: 100%;
  }

  #sidebar {
    width: $navbar-fixed-left-width;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $off-canvas-inverse-bg;
    color: $off-canvas-inverse-color;
    padding: 25px 0px;
    box-shadow: inset -5px 0px 8px rgba(0,0,0,0.3);

    &.collapsed {
      overflow: visible !important;
      position: absolute;
      bottom: 0px;
    }
  }

  #content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    margin-left: $navbar-fixed-left-width;

    #left {
      background: #F1F1F1;
      position: absolute;
      left: 0;
      width: 40%;
      top: 0;
      height: 100%;
    }

    #right {
      background: #FFF;
      position: absolute;
      left: 40%;
      right: 0;
      top: 0;
      height: 100%;
      padding: 30px 80px 0 80px;
    }
  }

  #overlay {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    #sidebar {
      left: 100%;
    }

    #sidebar.collapsed {
      width: $navbar-fixed-left-width;
      left: 0px;
      overflow: hidden !important;
    }

    #sidebar.collapsed + #content #overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $modal-backdrop-bg;
      @include opacity($modal-backdrop-opacity);
      z-index: $zindex-modal;
    }

    #sidebar.collapsed + #content {
      margin-left: 0px;
      transform: translate3d($navbar-fixed-left-width, 0px, 0px);
      -ms-transform: translate3d($navbar-fixed-left-width, 0px, 0px);
      -webkit-transform: translate3d($navbar-fixed-left-width, 0px, 0px);
      -moz-transition: translate3d($navbar-fixed-left-width, 0px, 0px);
      -o-transition: translate3d($navbar-fixed-left-width, 0px, 0px);
    }

    #content {
      margin-left: 0;

      #left {
        width: 100%;
      }

      #right {
        left: 100%;
        overflow: hidden;
        padding: 20px;

        &.in {
          left: 0;
          right: 0;
        }
      }
    }
  }
}