<!DOCTYPE html>
<html>
<head>
  <title>Leather</title>
  <%= stylesheet_link_tag    "leather/application", media: "all" %>
  <%= javascript_include_tag "leather/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
